@model digioz.Forum.Areas.Forum.Pages.ViewForumModel
@using digioz.Forum.Services
@using digioz.Forum.Services.Interfaces
@inject ILayoutService LayoutService
@inject IForumSessionService ForumSessionService
@inject IForumService ForumService
@inject IForumPostService ForumPostService
@inject IForumTopicService ForumTopicService
@inject IForumPermissionService ForumPermissionService

@{
    var layoutModel = LayoutService.GetLayoutData();
    var partialPath = $"~/Areas/Forum/Pages/Shared/Styles/{layoutModel.ForumStyle.StyleName}/_ViewForumPagePartial.cshtml";
}

<div id="page-body" class="container my-4 bg-dark text-white rounded-3" role="main">
    <h2 class="forum-title mb-3"><a href="/Forum/ViewForum?f=2" class="text-info text-decoration-none">Your first forum</a></h2>
    <div>
        <div class="d-none">Description of your first forum.<br></div>
    </div>
    <div class="d-flex flex-wrap align-items-center justify-content-between mb-3">
        <div>
            @if (!Model.IsReadOnly)
            {
                <a href="/Forum/Posting?mode=post&amp;f=2" class="btn btn-primary me-2" title="Post a new topic">
                    <span>New Topic</span> <i class="bi bi-pencil ms-1"></i>
                </a>
            }
        </div>
        <form method="get" id="forum-search" action="/Forum/Search" class="d-flex align-items-center">
            <input class="form-control form-control-sm me-2 bg-dark text-white border-secondary" type="search" name="keywords" id="search_keywords" size="20" placeholder="Search this forum…">
            <button class="btn btn-outline-light btn-sm me-1" type="submit" title="Search">
                <i class="bi bi-search"></i><span class="visually-hidden">Search</span>
            </button>
            <a href="/Forum/Search?fid%5B%5D=2" class="btn btn-outline-light btn-sm" title="Advanced search">
                <i class="bi bi-gear"></i><span class="visually-hidden">Advanced search</span>
            </a>
            <input type="hidden" name="fid[0]" value="2">
        </form>
        <div class="ms-auto">
            <span class="me-2"><a href="/Forum/ViewForum?hash=79bb0d60&amp;f=2&amp;mark=topics&amp;mark_time=1744654611" class="link-secondary" accesskey="m" data-ajax="mark_topics_read">Mark topics read</a></span>
            <span class="me-2">1 topic</span>
            <span>Page <strong>1</strong> of <strong>1</strong></span>
        </div>
    </div>
    <div class="card mb-3 bg-dark text-white border-secondary">
        <div class="card-body p-0">
            <ul class="list-group list-group-flush">
                <li class="list-group-item bg-secondary text-white border-secondary">
                    <div class="row fw-bold">
                        <div class="col-6">Topics</div>
                        <div class="col-2 text-center">Replies</div>
                        <div class="col-2 text-center">Views</div>
                        <div class="col-2 text-center">Last post</div>
                    </div>
                </li>
            </ul>
            <ul class="list-group list-group-flush">
                @foreach (var topic in Model.Topics)
                {
                    <li class="list-group-item bg-dark text-white border-secondary">
                        <div class="row align-items-center">
                            <div class="col-6">
                                <a href="/Forum/ViewTopic?t=@topic.TopicId" class="fw-semibold text-info text-decoration-none">@topic.TopicTitle</a>
                                <div class="d-block d-md-none small text-white-50 mt-1">
                                    Last post by <a href="/Forum/Members?mode=viewprofile&amp;u=@topic.TopicLastPosterId" style="color: #@topic.TopicLastPosterColor;" class="fw-semibold">@topic.TopicLastPosterName</a> &laquo;
                                    <a href="/Forum/ViewTopic?p=@topic.TopicLastPostId#p@topic.LastPostId" title="Go to last post">
                                        <time datetime="@topic.TopicLastPostTime">@topic.TopicLastPostTime</time>
                                    </a>
                                </div>
                                <div class="d-none d-md-block small text-white-50 mt-1">
                                    by <a href="/Forum/Members?mode=viewprofile&amp;u=@topic.TopicLastPosterId" style="color: #@topic.TopicLastPosterColor;" class="fw-semibold">@topic.TopicLastPosterName</a> &raquo;
                                    <time datetime="@topic.TopicLastPostTime">@topic.TopicLastPostTime</time>
                                </div>
                            </div>
                            <div class="col-2 text-center">@topic.TopicPostsApproved <span class="visually-hidden">Replies</span></div>
                            <div class="col-2 text-center">@topic.TopicViews <span class="visually-hidden">Views</span></div>
                            <div class="col-2 text-center">
                                <span>
                                    <span class="visually-hidden">Last post </span>by <a href="/Forum/Members?mode=viewprofile&amp;u=@topic.TopicLastPosterId" style="color: #@topic.TopicLastPosterColor;" class="fw-semibold">@topic.TopicLastPosterName</a>
                                    <a href="/Forum/ViewTopic?p=@topic.TopicLastPostId#p@topic.LastPostId" title="Go to last post" class="ms-1 text-info">
                                        <i class="bi bi-box-arrow-up-right"></i>
                                    </a>
                                    <br />
                                    <time datetime="@topic.TopicLastPostTime" class="small">@topic.TopicLastPostTime</time>
                                </span>
                            </div>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>
    <div class="d-flex flex-wrap align-items-center justify-content-between mb-3">
        <div>
            @if (!Model.IsReadOnly)
            {
                <a href="/Forum/Posting?mode=post&amp;f=2" class="btn btn-primary me-2" title="Post a new topic">
                    <span>New Topic</span> <i class="bi bi-pencil ms-1"></i>
                </a>
            }
        </div>
        <form method="post" action="/Forum/ViewForum?f=2" class="d-flex align-items-center">
            <div class="dropdown me-2">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="sortDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-sort-down"></i> Display and sorting options
                </button>
                <div class="dropdown-menu dropdown-menu-dark p-3" aria-labelledby="sortDropdown">
                    <fieldset class="mb-2">
                        <label class="form-label">
                            Display:
                            <select name="st" id="st" class="form-select form-select-sm bg-dark text-white border-secondary">
                                <option value="0" selected>All Topics</option>
                                <option value="1">1 day</option>
                                <option value="7">7 days</option>
                                <option value="14">2 weeks</option>
                                <option value="30">1 month</option>
                                <option value="90">3 months</option>
                                <option value="180">6 months</option>
                                <option value="365">1 year</option>
                            </select>
                        </label>
                        <label class="form-label">
                            Sort by:
                            <select name="sk" id="sk" class="form-select form-select-sm bg-dark text-white border-secondary">
                                <option value="a">Author</option>
                                <option value="t" selected>Post time</option>
                                <option value="r">Replies</option>
                                <option value="s">Subject</option>
                                <option value="v">Views</option>
                            </select>
                        </label>
                        <label class="form-label">
                            Direction:
                            <select name="sd" id="sd" class="form-select form-select-sm bg-dark text-white border-secondary">
                                <option value="a">Ascending</option>
                                <option value="d" selected>Descending</option>
                            </select>
                        </label>
                        <hr class="border-secondary" />
                        <input type="submit" class="btn btn-primary btn-sm" name="sort" value="Go">
                    </fieldset>
                </div>
            </div>
        </form>
        <div class="ms-auto">
            <span class="me-2"><a href="/Forum/ViewForum?hash=79bb0d60&amp;f=2&amp;mark=topics&amp;mark_time=1744654611" data-ajax="mark_topics_read" class="link-secondary">Mark topics read</a></span>
            <span class="me-2">1 topic</span>
            <span>Page <strong>1</strong> of <strong>1</strong></span>
        </div>
    </div>
    <div class="d-flex flex-wrap align-items-center justify-content-between mb-3">
        <p class="mb-0">
            <a href="/Forum/Index" class="btn btn-link text-info p-0 me-2" accesskey="r">
                <i class="bi bi-arrow-left"></i> <span>Return to Board Index</span>
            </a>
        </p>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="jumpboxDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                Jump to
            </button>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="jumpboxDropdown">
                <li><a href="/Forum/ViewForum?f=1" class="dropdown-item">Your first category</a></li>
                <li><a href="/Forum/ViewForum?f=2" class="dropdown-item ps-4">↳ &nbsp; Your first forum</a></li>
                <li><a href="/Forum/ViewForum?f=4" class="dropdown-item ps-4">↳ &nbsp; Your second forum</a></li>
                <li><a href="/Forum/ViewForum?f=3" class="dropdown-item">Your second category</a></li>
                <li><a href="/Forum/ViewForum?f=5" class="dropdown-item ps-4">↳ &nbsp; Your third forum</a></li>
            </ul>
        </div>
    </div>
    <div class="card mb-3 bg-dark text-white border-secondary">
        <div class="card-header bg-secondary text-white">
            <h3 class="h6 mb-0"><a href="/Forum/Online" class="text-info text-decoration-none">Who is online</a></h3>
        </div>
        <div class="card-body py-2">
            <p class="mb-0">Users browsing this forum: <a href="/Forum/Members?mode=viewprofile&amp;u=2" style="color: #AA0000;" class="fw-semibold">admin</a> and 0 guests</p>
        </div>
    </div>
    <div class="card bg-dark text-white border-secondary">
        <div class="card-header bg-secondary text-white">
            <h3 class="h6 mb-0">Forum permissions</h3>
        </div>
        <div class="card-body py-2">
            <p class="mb-0">
                You <strong>can</strong> post new topics in this forum<br>
                You <strong>can</strong> reply to topics in this forum<br>
                You <strong>can</strong> edit your posts in this forum<br>
                You <strong>can</strong> delete your posts in this forum<br>
                You <strong>can</strong> post attachments in this forum<br>
            </p>
        </div>
    </div>
</div>