@using digioz.Forum.Services
@using digioz.Forum.Services.Interfaces
@using digioz.Forum.Models
@inject ILayoutService LayoutService
@inject IForumSessionService ForumSessionService
@inject IForumConfigService ForumConfigService

@functions {
    private void UpdateForumConfig(string configName, string configValue)
    {
        var config = new ForumConfig() { ConfigName = configName, ConfigValue = configValue, IsDynamic = 1 };
        ForumConfigService.Update(config);
    }
}

@{
    var layoutModel = LayoutService.GetLayoutData();
    var loadOnlineTime = Convert.ToInt32(layoutModel.ForumConfig["load_online_time"]);
    var mostUsersOnline = Convert.ToInt32(layoutModel.ForumConfig["record_online_users"]);
    DateTime mostUsersOnlineDate;
    if (!DateTime.TryParse(layoutModel.ForumConfig["record_online_date"], out mostUsersOnlineDate))
    {
        mostUsersOnlineDate = DateTime.Now;
        UpdateForumConfig("record_online_date", mostUsersOnlineDate.ToString("yyyy-MM-dd HH:mm:ss"));
    }

    var whoIsOnline = ForumSessionService.GetWhoIsOnline(loadOnlineTime);

    if (mostUsersOnline == 0)
    {
        mostUsersOnline = 1;
        UpdateForumConfig("record_online_users", mostUsersOnline.ToString());
    }

    if (whoIsOnline.UsersOnline > mostUsersOnline)
    {
        UpdateForumConfig("record_online_users", whoIsOnline.UsersOnline.ToString());
        UpdateForumConfig("record_online_date", DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss"));
    }
}

<div class="stat-block online-list">
    <h3>Who is online</h3>
    <p>
        @if (whoIsOnline.UsersOnline <= 1)
        {
            <span>In total there is <strong>@whoIsOnline.UsersOnline</strong> user online - </span>
        }
        else
        {
            <span>In total there are <strong>@whoIsOnline.UsersOnline</strong> users online - </span>
        }
         
        @whoIsOnline.UsersRegistered registered and @whoIsOnline.UsersGuests guest 
        (based on users active over the past @loadOnlineTime minutes)<br />
        Most users ever online was <strong>@mostUsersOnline</strong> on @mostUsersOnlineDate.<br />
    </p>
</div>
