@model digioz.Forum.Areas.Forum.Pages.IndexModel  
@using digioz.Forum.Services  
@using digioz.Forum.Services.Interfaces  
@inject ILayoutService LayoutService  

@{  
    var layoutModel = LayoutService.GetLayoutData();  
    var partialPath = $"~/Areas/Forum/Pages/Shared/Styles/{layoutModel.ForumStyle.StyleName}/_IndexPagePartial.cshtml";  
}  

<div id="page-body" class="container my-4" role="main">  
    <p class="text-end text-secondary small">It is currently @DateTime.Now</p>  
    <div class="card mb-4">  
        <div class="card-body">  
            @{  
                var categories = Model.ForumList.Where(x => x.ForumType == 0).ToList();  

                foreach (var category in categories)  
                {  
                    <div class="mb-4">  
                        <ul class="list-group mb-2">  
                            <li class="list-group-item active">  
                                <div class="row">  
                                    <div class="col"><a class="text-white text-decoration-none" href="/Forum/ViewForum?f=@category.ForumId">@category.ForumName</a></div>  
                                    <div class="col-2 text-center">Topics</div>  
                                    <div class="col-2 text-center">Posts</div>  
                                    <div class="col-3 text-center">Last post</div>  
                                </div>  
                            </li>  
                        </ul>  

                        @{  
                            var forums = Model.ForumList.Where(x => x.ForumType == 1 && x.ParentId == category.ForumId).ToList();  
                        }  

                        @foreach (var forum in forums)  
                        {  
                        <ul class="list-group mb-2">  
                            <li class="list-group-item">  
                                <div class="row align-items-center">  
                                    <div class="col">  
                                        <a href="/Forum/ViewForum?f=@forum.ForumId" class="fw-bold">@forum.ForumName</a>  
                                        <div class="text-muted small">@forum.ForumDesc</div>  
                                        <div class="d-block d-md-none mt-1">  
                                            <span class="badge bg-secondary">Topics: @forum.ForumTopicsApproved</span>  
                                        </div>  
                                    </div>  
                                    <div class="col-2 text-center d-none d-md-block">@forum.ForumTopicsApproved</div>  
                                    <div class="col-2 text-center d-none d-md-block">@forum.ForumPostsApproved</div>  
                                    <div class="col-3 text-center">  
                                        <span>  
                                            <span class="d-block d-md-inline">Last post</span>  
                                            <a href="/Forum/ViewTopic?p=@forum.ForumLastPostId#p@(forum.ForumLastPostId)" title="@forum.ForumLastPostSubject" class="ms-1">@forum.ForumLastPostSubject</a>  
                                            <br />  
                                            <span class="small">  
                                                by <a href="/Forum/Members?mode=viewprofile&amp;u=@forum.ForumLastPosterId" style="color: @(forum.ForumLastPosterColour);" class="username-coloured">@forum.ForumLastPosterName</a>  
                                                <a href="/Forum/ViewTopic?p=@forum.ForumLastPostId#p@(forum.ForumLastPostId)" title="View the latest post" class="ms-1">  
                                                    <i class="bi bi-box-arrow-up-right"></i>  
                                                    <span class="visually-hidden">View the latest post</span>  
                                                </a>  
                                                <br />  
                                                <time datetime="@forum.ForumLastPostTime">@forum.ForumLastPostTime</time>  
                                            </span>  
                                        </span>  
                                    </div>  
                                </div>  
                            </li>  
                        </ul>  
                        }  
                    </div>  
                }  
            }  
        </div>  
    </div>  
    @if (!User.Identity.IsAuthenticated)  
    {  
        <div class="mb-4">  
            @await Component.InvokeAsync("LoginBox")  
        </div>  
    }  

    <div class="mb-4">  
        @await Component.InvokeAsync("WhoIsOnline")  
    </div>  

    <div>  
        @await Component.InvokeAsync("Statistics")  
    </div>  
</div>